<h1>Books</h1>

<% @books.each do |book| %>

  <div>
    <h3>Title</h3>
    <span>
      <%= link_to book.title, book_path(book.id) %>
    </span>
  </div>

  <div>
    <h3>Body</h3>
    <span>
      <%= link_to book.body, book_path(book.id) %>
    </span>
  </div>

    <%= link_to "Show", book_path(book.id) %>
    <%= link_to "Edit", edit_book_path(book.id) %>
    <%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>

<% end %>

<%= render 'new' %>